{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "browser": true
  },
  "ignorePatterns": ["src/generated/*"],
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-undef": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": [0],
    "react/prop-types": [0],
    "react/prefer-stateless-function": [1],
    "react/jsx-one-expression-per-line": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "no-underscore-dangle": [0],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
